$orange: #fc6522;
$blue: #398ad5;
$background-grey: #f4f6f8;

// style templates

.sub-title{
  font: 30px Poppins;
  font-weight: 600;
}

.regular-text{
  font: 16px poppins;
  font-weight: 400;
}

.vr-button{
  height: 58px;
  width: 227px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 4px #dbeeff;
  border-radius: 30px;
  cursor: pointer;
}
