.description{
  top: 2px;
  height: 235px;
  background: linear-gradient(to right, #2b4ebd 0%,#3093f1 99%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .description-round-image{
    position: absolute;
    top: -64px;
    margin-left: 6px;
  }
  .description-text{
    width: 33%;
    p{
      font: 24px Poppins;
      color: white;
      text-align: center;
      text-indent: 15px;
      word-spacing: 2px;
    };
    .first-line{
      padding-bottom: 7px;
    };
    .second-line{
      padding-bottom: 5px;
    };
  }
}

@media screen and (max-width: 900px){
  .description{
    .description-round-image{
      display: none;
    }
    .description-text{
      width: 80%;
    }

  }
}

@media screen and (min-width: 900px) and (max-width: 1050px){
  .description{
    .description-text{
      width: 50%;
    }
  }
}

