@import "../core/variables";

.order{
  height: 406px;
  display: flex;
  justify-content: center;
  align-items: center;
  .order-container{
    height: 279px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
      font: 36px Poppins;
      font-weight: 600;
      text-indent: 13px;
      word-spacing: 1px;
      letter-spacing: 1px;
    }
    p{
      font: 18px Poppins;
      width: 52%;
      text-align: center;
      padding-bottom: 32px;
    }
    .order-button{
      height: 58px;
      width: 227px;
      margin-bottom: 41px;
      margin-left: 10px;
      background-color: $blue;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 4px #dbeeff;
      border-radius: 30px;
      cursor: pointer;
      span {
        text-transform: uppercase;
        color: white;
        font: 14px Poppins;
        font-weight: 400;
        letter-spacing: 1px;
      }
    }
  }
}

@media screen and (max-width: 900px){
  .order{
    .order-container{
      width: 95%;
      height: 96%;

      p{
        width: 100%;
      }
      .order-button{
        margin: 0;
      }
    }
  }
}

