.questions{
  height: 755px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2{
    font-size: 36px;
    padding-bottom: 17px;
    letter-spacing: 1px;
    text-indent: 9px;
  }
  .questions-title{
    font-size: 18px;
    width: 28%;
    text-align: center;
    padding-bottom: 6px;
    text-indent: 11px;

  }
  .questions-items{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 69px;
    padding-top: 59px;
    width: 57%;
    height: 60%;
    .questions-item{
      display: flex;
      flex-direction: column;
      width: 48%;
      padding-bottom: 44px;
      h5{
        font: 20px Poppins;
        font-weight: 600;
        padding-bottom: 12px;
        letter-spacing: 1px;
      }
      .questions-items-divide-line{
        background-color: #e6eaee;
        height: 1px;
        width: 90%;
      }
      .questions-items-text{
        font: 15px Poppins;
        font-weight: 400;
        padding-top: 19px;
        line-height: 1.9em;
      }
      &:nth-child(2){
        padding-left: 4px;
      }
      &:nth-child(4){
        padding-left: 4px;
      }
    }
  }
}
