@import "../core/variables";

.subscribe{
  height: 475px;
  background-color: $background-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    font-size: 36px;
    padding-top: 85px;
    letter-spacing: 1px;
    text-indent: 15px;
  }
  .subscribe-text{
    width: 27%;
    text-align: center;
    font-size: 18px;
    padding-top: 16px;
    line-height: 1.7em;
    text-indent: 11px;
  }
  .search{
    height: 72px;
    width: 635px;
    margin-top: 44px;
    margin-left: 13px;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    input[type="search"]{
      padding-left: 33px;
      border: none;
      outline: none;
      //-webkit-appearance: none;
      height: 20px;
      width: 350px;
      vertical-align: middle;
      font: 16px Poppins;
      font-weight: 400;
      padding-top: 4px;
      text-indent: -1px;
    }
    input[type="submit"]{
      height: 55px;
      width: 230px;
      background-color: $blue;
      color: white;
      margin-right: 8px;
      font: 16px Poppins;
      font-weight: 600;
      text-indent: 1px;
      word-spacing: 3px;
      padding-top: 5px;
    }
  }
  .spam{
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    .spam-image{
      padding-left: 10px;
    }
    .spam-text{
      font: 13px Poppins;
      text-indent: 2px;
    }
  }
}
