@import "../core/variables";

.top-video-container{
  height: 700px;
  display: flex;
  width: 1600px;
  margin: 0 auto;
  .top-video-container_content_wrapper{
    width: 52%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .top-video-container_content{
      width: 71%;
      height: 55%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 17px;
      h2{
        font: 60px Poppins;
        font-weight: 600;
        line-height: inherit;
        letter-spacing: 2px;
        margin-left: 1px;
        word-spacing: -4px;

      };
      p{
        font: 18px Poppins;
        line-height: 1.9em;
        padding-bottom: 10px;
        width: 101%
      };
      .container-video{
        display: flex;
        align-items: center;
        padding-bottom: 14px;
        .container-video-image{
          width: 31px;
          height: 32px;
          background-image: url(../../img/main-sprite.png);
          margin-top: 5px;
        };
        .container-video-text{
          padding-left: 14px;
          h3{
            font: 17px Poppins;
            font-weight: 700;
            text-transform: uppercase;
            padding-bottom: 4px;
            letter-spacing: 1px;
            text-indent: 2px;
          };
          p{
            font: 13px Poppins;
            margin-bottom: -4px;
            padding-bottom: 2px;
          };
        };

      };
    };
  };
  .top-video-container_image{
    height: 103%;
    width: 48%;
    margin-top: 11px;
    margin-left: 33px;
    img{
      height: 100%;
      width: 101%;
    }
  };
};
