@import "../core/variables";

.upper-menu{
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 26px;
  .upper-menu-img{
    height: 25px;
    margin-top: 8px;
    margin-left: 4px;

    img{
      height: 100%;
      width: 100%;
    }
  }
  .upper-menu-items{
    display: flex;
    justify-content: space-between;
    width: 730px;
    ul{
      display: flex;
      justify-content: space-between;
      width: 490px;
      li{
        line-height: 54px;
        a{
          text-decoration: none;
          color: black;
          font: 14px Poppins;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
    button{
      background-color: $orange;
      width: 200px;
      height: 47px;
      border-radius: 30px;
      border: 3px solid white;
      box-shadow: 0 0 22px 7px rgba(225,225,225,1);
      span{
        color: #ffffff;
        font: 14px Poppins;
        font-weight: 400;
        margin-right: 1px;
      }
    }
  }
}
