@import "../core/variables";

.upper-menu{
  display: flex;
  justify-content: space-between;
  max-width: 1211px;
  margin: 0 auto;
  padding: 22px 20px 0 20px;
  .upper-menu-img{
    height: 25px;
    margin-top: 11px;
    margin-left: 6px;
    a{
      img{
        height: 100%;
        width: 100%;
      }
    }
  }
  .upper-menu-items{
    display: flex;
    justify-content: space-between;
    width: 730px;
    ul{
      display: flex;
      justify-content: space-between;
      width: 490px;
      li{
        line-height: 56px;
        a{
          text-decoration: none;
          color: black;
          font: 14px Poppins;
          font-weight: 600;
          cursor: pointer;
          margin-left: 2px;
          letter-spacing: 1px;
        }
      }
    }
    button{
      background-color: $orange;
      width: 206px;
      height: 55px;
      margin-right: -4px;
      border-radius: 30px;
      border: 3px solid white;
      box-shadow: 0 0 40px 17px rgba(225,225,225,1);
      z-index: 1;
      p{
        color: #ffffff;
        font: 14px Poppins;
        font-weight: 400;
        margin-right: 1px;
        letter-spacing: 1px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .upper-menu{
    flex-direction: column;
    padding: 0;
    width: 30%;
    .upper-menu-img{
      display: none;
    }
    .upper-menu-items{
      width: 30%;
      margin: 0 auto;
      flex-direction: column;
      align-items: center;
      ul{
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
