@mixin background-linear-gradient($where, $firstColor, $lastColor) {
  background: linear-gradient($where, $firstColor, $lastColor);
}

.container .wrapper-9{
  padding: 9.9% 0 0;
  .row{
    display: flex;
    flex-direction: row;
    .cols:first-child{
      position: relative;
      .slider{
        padding: 28% 9% 30% 16%;
        width: 525px;
        height: 510px;
        //@include background-linear-gradient(to right, #6b66ff, #6b88f7);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        *{
          text-align: start;
        }

        *{
          color: #ffffff;
        }
        div:first-child{
          position: relative;
          font-family: Open Sans, sans-serif;
          font-size: 2.5em;
        }
        div:nth-child(2){
          font-family: Open Sans, sans-serif;
          font-size: 1.2em;
          font-style: italic;
          line-height: 1.9em;
          padding: 13% 1% 11% 0;
        }
        div:last-child{
          span{
            padding: 3%;
            font-size: 0.8em;
          }

        }
      }
    }
  }
}
