.container .wrapper-3 {
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    .cols {
      min-height: 470px;
      margin: 0 0.9%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      h3 {
        font-size: 1.35em;
        font-family: 'Poppins', sans-serif;
      }
      p {
        font-family: 'Open Sans', sans-serif;
      }
      button{
        width: 130px;
        height: 45px;
        background: none;
        box-shadow: 0 0 1px 1px grey;
      }
      button:hover{
        box-shadow: 2px 1px 4px 0 #000;
      }
    }
    .cols:first-child {
      padding: 2.6% 0 0 0;
      img{
        width: 110px;
        height: 110px;
      }
      h3 {
        padding: 13% 4% 0 5%;
        font-size: 1.35em;
      }
      p{
        font-size: 1.15em;
        padding: 7% 13% 8.3% 14%;
        letter-spacing: -.02em;
        line-height: 1.65em;
      }

    }
    .cols:nth-child(2) {
      background: #ffffff;
      padding: 3.6% 0 0 0;
      img{
        width: 110px;
        height: 98px;
      }
      h3 {
        padding: 11% 0 0 1%;
        font-size: 1.35em;
      }
      p{
        font-size: 1.15em;
        padding: 7% 15% 8.3% 16%;
        letter-spacing: -.02em;
        line-height: 1.65em;
      }

    }
    .cols:last-child {
      padding: 3% 0 0 1%;
      img{
        width: 116px;
        height: 118px;
      }
      h3 {
        padding: 9% 4% 0 2%;
        letter-spacing: 0.01em;
        font-size: 1.35em;
      }
      p {
        font-size: 1.15em;
        padding: 8% 12% 9.3% 10%;
        letter-spacing: -.02em;
        line-height: 1.55em;
      }
      button{
        padding-right: 2.7%;
      };
    }
  }
}
