.container .wrapper-2 {
  padding-bottom: 6%;
  .row {
    .cols:first-child {
      font-family: 'Poppins', sans-serif;
      padding: 9.3% 0 0;
      color: #b2b2b2;
      font-size: 1.125em;
      letter-spacing: 0.1em;
    }
    .cols:last-child {
      font-family: Poppins,sans-serif;
      font-size: 2.75em;
      font-weight: bolder;
      padding: 1.55% 30.1% 0 30.6%;
      letter-spacing: -0.009em;
      line-height: 1.38em;
      color: #000;
    }

  }
}
